a {
    color: white;
    background-color: blue;
    text-decoration: none;
    padding: 5px;

}

a:link{
    text-decoration: underline;
    color: lavender
}

a:visited{
    text-decoration: underline;
    background-color: gray
}

a:hover{
    text-decoration: none;
    padding: 10px;

}

a:active{
    background-color: green;
    color: black;
}

